.profile-entry {
	margin: 10px;
}

.profile-entry > div {
	display: inline-block;
}

.key-text {
	margin-right: 20px;
}

.value-text {
	margin-left: 3px;
	margin-top: 3px;
}

.value-edit {
	color: red;
}